/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.destroy{
	color: red;
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	top: 50px;
}

body{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: inline;
	background-color: black;
}

td{
	margin: 0px 0px 0px 0px;
	display: inline;
}

tr{
	margin: 0px 0px 0px 0px;
	display: inline-block;
	position: relative;
	z-index: 1;
}

img{
	width: 321px;
	height: 321px;
	margin: 5px 0px 0px 5px;
	border: 4px groove red;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 1px red;
	-webkit-user-drag: none;
}

div.options_bar{
	position: relative;
	bottom: 330px;
	width: 321px;
	left: 9px;
	border-radius: 6px;
	margin: 0px 0px 0px 0px;
	background-color: rgba(10,10,10,.9);
	text-align: center;
}

.optionstd{
	position: absolute;
}

a:-webkit-any-link{
	color:CornFlowerBlue;
	font-weight: bold;
	font-size: 18px;
	margin-left: 15px;
	margin-right: 15px;
}

form div{
	padding: 10px 0px 0px 0px;
}

h3{
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
}

h4{
	color: CornFlowerBlue;
	margin: 20px 0px 0px 0px;
}

h1{
	color: CornFlowerBlue;
	margin: 10px 0px 10px 0px;
}

.antiGoogleDrag{
	-webkit-user-drag: none;
}

#clean_up{
	position:fixed;
	bottom:0%;
	left: 93.85%;
	font-size: 15px;
	margin: 0px 0px 0px 0px;
	z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.clicked{
	border: 4px groove LawnGreen;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 1px green;
}

.new_pic_button{
	position: fixed;
	bottom:0%;
	z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999;

}

.new_popup{
	position: fixed;
	background-color: FireBrick;
	height: 90	px;
	text-align: center;
	bottom: 5%;
	left: 5%;
	border: 4px ridge CornFlowerBlue;
	visibility: hidden;
	z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.new_popup_section{
	padding: 0px 0px 5px 0px;
}

.new_popup_label{
	font-size: 25px;
}

form.new_picture{
	background-color: FireBrick;
	text-align: center;
}

input[type="submit"]{
	margin: 10px 0px 0px 0px;
}

.popup_alert{
	margin: 5px 0px 0px 0px;
	font-weight: bold;
	color: darkorange;
}